<% #on fais un foreach sur comment %>
<div class="box">
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48 user-thumb">
        <%= gravatar_image_tag(comment.user.try(:email), alt: comment.user.try(:email), gravatar: { size: 48 }) %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.user.try(:name) %></strong>
          <div><%= comment.content %></div>
          <br>
          <small><a>Like</a> · <%= comment.created_at.try(:hour) %> hrs</small>
          
        </p>
        
      </div>
    </div>
    <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
       <%= link_to 'Delete', [comment.shot, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </article>
</div>


