<p id="notice">
  <%= notice %>
</p>
<%= link_to 'Retour', shots_path %>

<div class="columns is-centered">

  <div class="column is-3 ">
    <figure class="image is-50x50">
      <%= image_tag @shot.image.thumb.url || @shot.default_image %>
    </figure>
    <div>
      <p>Nombre de vue:
        <%= @shot.impressionist_count %>
      </p>
      <div class="content">
        <p class="subtitle is-7">
          <%= @shot.description %>
        </p>
        <p class="subtitle is-6 ">
          <%= @shot.title %>
        </p>
      </div>
    </div>

    <div class="panel-block likes data">
      <% if user_signed_in? %>
      <% if current_user.liked? @shot %>
      <%= link_to unlike_shot_path(@shot), method: :put, class: "unlike_shot" do %>
      <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
      <span class="vote_count">
        <%= pluralize(@shot.get_likes.size, 'Like') %></span>
      <% end %>
      <% else %>
      <%= link_to like_shot_path(@shot), method: :put, class: "like_shot" do %>
      <span class="icon"><i class="fa fa-heart"></i></span>
      <span class="vote_count">
        <%= pluralize(@shot.get_likes.size, 'Like') %></span>
      <% end %>
      <% end %>
      <% else %>
      <%= link_to like_shot_path(@shot), method: :put, class: "like_shot" do %>
      <span class="icon"><i class="fa fa-heart"></i></span>
      <span class="vote_count">
        <%= pluralize(@shot.get_likes.size, 'Like') %></span>
      <% end %>
      <% end %>
    </div>



  </div>





  <div class="column is-5">
    <%= render 'comments/form' %>
    <% #compteur de commentaire %>
    <%= pluralize(@shot.comments.count, 'Commentaire')%>
    <%= render @shot.comments %>
  </div>

</div>